
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh Sách Gọi Món</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/dishesorder.css}"/>
</head>
<body>
    <div class="main-screen">
        <div class="left-bar">
            <div class="name-of-func"><b>XEM DANH SÁCH GỌI MÓN</b></div>
            <div class="chef-infor">Thông tin CHEF</div>
            <div class="details-inf">
                <div class="chef-inf">Tên: <span th:text="${chefName}"></span></div>
            </div>
            <div class="btn-func">
                <div class="waiting">Đang chờ</div>
                <div class="done">Đã xong</div>
                <div class="exit">Thoát</div>
            </div>
        </div>
        
        <div class="right-bar">
            <div class="dish-table">DANH SÁCH GỌI MÓN</div>
            <div class="table-screen">
                <div class="header-info">
                    <span th:text="'Ngày: ' + ${currentDate}"></span>
                    <span th:text="'Mã bàn: ' + ${tableCode}"></span>
                </div>

                <table>
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên món</th>
                            <th>Số lượng</th>
                            <th>Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="dish, iterStat : ${dishes}">
                            <td th:text="${iterStat.index + 1}"></td> <!-- Số thứ tự tự động -->
                            <td th:text="${dish.dishName}"></td> <!-- Tên món -->
                            <td th:text="${dish.quantity}"></td> <!-- Số lượng -->
                            <td>
                                <select th:value="${dish.status}" name="status_${dish.stt}">
                                    <option value="Đang chờ" th:selected="${dish.status == 'Đang chờ'}">Đang chờ</option>
                                    <option value="Đã xong" th:selected="${dish.status == 'Đã xong'}">Đã xong</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="confirm-btn">Xác nhận</button>
            </div>
        </div>
    </div>
</body>
</html>