<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/homepagecashier.css}"/>
    <link rel="icon" href="data:,">
    <title>Home Page Chef</title>
</head>
<body>
    <div class = "home-page">
        <div class = "top-home-page">
            <h1><b>HOME PAGE</b></h1>
            <h3><b>CASHIER MODE</b></h3>
        </div>
        <div class="bottom-home-page">
            <div onclick="window.location.href='/homepage-cashier/delete-table'">QUẢN LÝ SƠ ĐỒ BÀN</div>
            <div>THANH TOÁN</div>
            <div>BÁO CÁO DOANH THU</div>
            <div  onclick="window.location.href='/login/signin'">THOÁT</div>
        </div>
    </div>
</body>
</html>