<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@{/assets/css/homepageadmin.css}">
    <link rel="icon" href="data:,">
    <title>Home Page Chef</title>
</head>
<body>
    <div class = "home-page">
        <div class = "top-home-page">
            <h1><b>HOME PAGE</b></h1>
            <h3><b>ADMIN</b></h3>
        </div>
        <div class="bottom-home-page">
            <div>THÊM TÀI KHOẢN</div>
            <div>SỬA TÀI KHOẢN</div>
            <div>XEM TÀI KHOẢN</div>
            <div>XOÁ TÀI KHOẢN</div>
            <div>HOME PAGE CHEF</div>
            <div>HOME PAGE THU NGÂN</div>
            <div>HOME PAGE</div>
            <div>THOÁT</div>
        </div>
    </div>
</body>
</html>