<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/homepage.css}"/>
    <link rel="icon" href="data:,">
</head>
<body>
    <div class = "home-page">
        <div class="left-content">
            <div class = "logo"></div>
            <div class = "title-content">
                <p class = "title">Chào mừng bạn đến với nhà hàng của chúng tôi!</p>
            </div>
        </div>
        <div class = "right-content">
            <div class = "top-home-page">
                <h1><b>HOME PAGE</b></h1>
            </div>
            <div class="bottom-home-page">
                <div onclick="window.location.href='/homepage-user/choose-table'">CHỌN BÀN</div>
                <div>XEM MENU</div>
                <div>XEM HOÁ ĐƠN</div>
                <div>TÍCH VÀ XEM ĐIỂM TÍCH LUỸ</div>
                <div onclick="window.location.href='/login/signin'">THOÁT</div>
            </div>
        </div>
        <div class = "clear-fix"></div>
    </div>
</body>
</html>