<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/homepagechef.css}"/>
    <link rel="icon" href="data:,">s
    <title>Home Page Chef</title>
</head>
<body>
    <div class = "home-page">
        <div class = "top-home-page">
            <h1><b>HOME PAGE</b></h1>
            <h3><b>CHEF MODE</b></h3>
        </div>
        <div class="bottom-home-page">
            <div>THÊM MÓN ĂN</div>
            <div>XOÁ MÓN ĂN</div>
            <div>XEM DANH SÁCH GỌI MÓN</div>
            <div>THÔNG BÁO TRẠNG THÁI MÓN ĂN</div>
            <div  onclick="window.location.href='/login/signin'">THOÁT</div>
        </div>
    </div>
</body>
</html>