<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Self Restaurant Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/signin.css}"/>
    <link rel="icon" href="data:,">
</head>
<body>
    <div class="container">
        <div class="main-form">
            <form action="http://127.0.0.1:5500/login/signin" method="POST">
                <h2>SELF RESTAURANT</h2>
                <h3>LOGIN</h3>
                <div class="information">
                    <input id = "username" type="text" name="username" class="username" placeholder="Username" required>
                    <input id = "password" type="password" name="password" class="password" placeholder="Password" required>
                </div>
                <div class="button">
                    <button type="button" onclick="window.location.href='/website'">Cancel</button>
                    <button id = "btn-signin" type="button">Log in</button>
                </div>
                <button class="create-acc-btn" type="button" onclick="window.location.href='/login/signup'">Create New Account</button>
            </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
	    $(document).ready(function () {
	        $("#btn-signin").click(function () {
	            var username = $("#username").val().trim();
	            var password = $("#password").val().trim();
	
	            if (username === "" || password === "") {
	                alert("Please enter username and password!");
	                return;
	            }
	
	            $.ajax({
	                method: "POST",
	                url: "http://localhost:8080/login/signin",
	                data: {
	                    username: username,
	                    password: password
	                },
	                success: function (msg) {
	                    if (msg.data) {
	                    	localStorage.setItem("fullname", msg.description);
	                    	// Kiểm tra role_id và điều hướng
	                        if (msg.role_Id === 0) {
	                            window.location.href = '/homepage/homepage-user'; // Trang user
	                        } else if (msg.role_Id === 1) {
	                            window.location.href = '/homepage/homepage-admin'; // Trang admin
	                        } else if (msg.role_Id === 2) {
	                            window.location.href = '/homepage/homepage-cashier'; // Trang admin
	                        } else if (msg.role_Id === 3) {
	                            window.location.href = '/homepage/homepage-chef'; // Trang admin
	                        }   else {
	                            alert("Unauthorized role!");
	                        }
	                    } else {
	                        alert("Invalid username or password!");
	                    }
	                },
	                error: function () {
	                    alert("An error occurred. Please try again later.");
	                }
	            });
	        });
	    });
    </script>
    <!-- <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/jquery/jquery.min.js"></script> -->
    <!-- <script src="/javascript/signin.js"></script> -->
</html>
