* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
	border: 1px solid black;
    display: flex;
    width: 950px; 
    height: 650px; 
    background-color: #ffffff; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-panel {
    width: 250px;
    height: 100%;
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 10px 0 0 10px; 
    margin-right: -2px; 
    padding-top: 20px;
    padding-bottom: 20px; 
    position: relative; 
}

.vertical-divider {
    position: absolute; 
    top: 35px; 
    right: 0; 
    width: 2px; 
    height: 580px; 
    background-color: #ccc; 
}

.left-panel h1 {
    margin-bottom: 20px;
    text-align: center;
}

.divider {
    border: none; 
    border-top: 2px solid #ccc; 
    margin: 10px 0; 
}

.chef-info {
    margin-bottom: 20px;
}

.exit-btn {
    background-color: #ff6f61; 
    color: white;
    border: none;
    padding: 15px;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.exit-btn:hover {
    background-color: #e55d51; 
}

.confirm-btn {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 48%;
    border-radius: 5px;
    margin-top: 15px;
}

.confirm-btn:hover {
    background-color: #218838;
}

.right-panel {
    width: 76%;
    padding: 20px; 
    border-radius: 0 10px 10px 0; 
}

.right-panel h1 {
    margin-bottom: 20px;
}

.form-container {
    background-color: rgb(196, 215, 245);
    width: 660px;
    height: 555px;
    padding: 40px; 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0px 5px 5px 0px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px; 
    text-align: left;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px; 
}

.image-group {
    display: flex;
    align-items: center;
}

.image-input {
    display: flex;
    align-items: center;
    width: 100%;
}

.image-input input[type="file"] {
    flex: 1; 
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px; 
    margin-right: 10px; 
}

.image-preview {
    width: 80px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    background-size: cover;
    background-position: center;
}

.form-group textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
}

textarea {
    resize: vertical;
    margin-top: 5px;
}

.notification {
    font-size: 16px;
    color: #28a745;
    text-align: left;
    width: 48%;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.form-footer .notification {
    text-align: left;
    width: 48%;
}
