body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-weight: bold;
}
*{
    box-sizing: border-box;
}
h2{
    color: rgb(27, 91, 174);
}
h3{
    color: #7DC0FF;
}
.container{
    width: 950px;
    height: 650px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(196, 215, 245);
}
form{
    width: 500px;
    height: 500px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    backdrop-filter: blur(10px);
    padding: 10px;
}
form > *{
    margin: 10px;
}
.information input{
    width: 300px;
    padding: 10px 5px;
    border-radius: 30px;
    margin: 10px;
    border: 1px solid #427aae;
    background-color: rgba(255, 255, 255, 0.2);
}
.information input > *{
    margin-left: 20px;
}
.information{
    display: flex;
    flex-direction: column;
}
.button > *{
    margin: 0px 5px;
}
.button > *, .create-acc-btn{
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 30px;
    background-color: #7DC0FF;
    border: 1px solid #7DC0FF;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}