body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f0f0f0;
}

.show-invoice{
    border: 1px solid black;
    border-radius: 10px;
    width: 950px;
    height: 650px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.left-content{
    margin: 20px 20px 20px 0px;
    max-width: max-content;
    height: 608px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid black;
}

.table-code{
    text-align: center;
    border-bottom: 2px solid black;
}

.left-content > *{
    margin: 10px;
}

.show-invoice label{
    border: 1px solid rgb(196, 215, 245);
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    background-color: rgb(196, 215, 245);
}

.status-button .details-button{
    padding: 10px 40px 10px 40px;
    background-color: rgb(196, 215, 245);
    border: 1px solid rgb(196, 215, 245);
    border-radius: 10px;
}
.confirm-button .details-button{
    padding: 10px 40px 10px 40px;
    background-color: rgb(195, 197, 197);
    border: 1px solid white;
    border-radius: 10px;
}

.details-button{
    cursor: pointer;
}

.status-button .details-button:hover{
    background-color: rgb(184, 204, 239);
}
.confirm-button .details-button:hover{
    background-color: rgb(130, 131, 132);
}

.right-content{
    margin: 20px;
}

.table-screen{
    position: relative;
    background-color: rgb(196, 215, 245);
    width: 620px;
    height: 90%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    align-content: start;
    justify-content: center;
}
.name-of-func{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    text-align: center;
}
.name-of-func div{
    border-bottom: 2px solid black;
}

.table-screen > *:not(.sum){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 120px;
    height: 120px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
}
.foot-form div > *{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.foot-form .price{
    border: 1px solid  rgba(46, 41, 41, 0.2);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: rgba(46, 41, 41, 0.2);
}

.foot-form{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.table-screen div > *{
    padding: 5px;
}
.div-bottom{
    width: px;
    border-top: 2px solid black;
    text-align: center;
}

.foot-form-colorA{
    background-color: rgb(17, 126, 173);
}
.foot-form-colorB{
    background-color: rgb(28, 174, 237);
}

.pay{
    position: absolute;
    background-color: rgba(46, 41, 41, 0.2);
    right: 10px;
    bottom: 10px;
    width: 250px;
    height: 120px;
    margin: 0px 0px 10px 30px;
    padding: 10px 10px 10px 10px;
    margin: 0px 30px 10px 0px;
}
.pay .QR{
    width: 95px;
    height: 95px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
}

.sum{
    position: absolute;
    left: 10px;
    bottom: 10px;
    border: 1px solid  rgba(46, 41, 41, 0.2);
    width: 250px;
    height: 120px;
    margin: 0px 0px 10px 30px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: rgba(46, 41, 41, 0.2);
    justify-content: center;
}

.left-content p{
    font-size: 15px;
    color: red;
}